---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$code-color: #c7254e;
$code-background-color: #f9f2f4;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

p > code,
p > em > code,
a > code,
a > em > code,
li > code,
li > em > code,
figcaption > code,
figcaption > em > code,
td > code,
td > em > code {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 0.8em;
  color: $code-color;
  background: $code-background-color;
  border-radius: $border-radius;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

h4 {
  font-size: $type-size-5;
}

/* Enable toc sidebar scrolling */
.sidebar__right {
  &.sticky {
    .toc {
      .toc__menu {
        overflow-y: auto;
        scrollbar-width: thin;
        max-height: calc(100vh - 7em);
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-track {
          background: #F0F0F0;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #CDCDCD;
          border: 1px solid #F0F0F0;
        }
      }
    }
  }
}

/* Beautify sidebar */
.sidebar {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #F0F0F0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #CDCDCD;
    border: 1px solid #F0F0F0;
  }
}

/* Smaller font size */
h1, h2, h3, h4, h5 {
  margin: 0 0 0.5em;
}
.page__content {
  font-size: 18px;
}